apiVersion: 1
providers:
- name: 'blackbox-exporter'
  orgId: 1
  folder: ''
  type: file
  disableDeletion: false
  updateIntervalSeconds: 10
  options:
    path: /var/lib/grafana/blackbox-exporter.json
